
Welcome to the CTF!

While you may live in a yellow submarine, your services live in {{ PRIMER_GUEST_SERVICES_PATH }}!

Unless you are the walrus, we recommend giving it a read---there's some good information there!

Good luck and get ready for a hard day's night!

